body {
  background-color: #e6e6ff;
}

.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #d0d0f0;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.contenedor-calculadora {
  width: 400px;
  height: 570px;
  padding: 14px;
  background-color: #ebd3d3;
  border-radius:20px
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
